
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  --primary-color: white;
  --seconday-color: #06aed5;
  --tertiary-color: black;
}

.container {
  margin-bottom: 20px;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--tertiary-color);
  border-left: 1px solid var(--tertiary-color);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--seconday-color);;
  color: var(--primary-color);
  border-radius: 50;
  border-bottom: 10px solid var(--tertiary-color);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--primary-color);
}

.hour {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-top: 1px dashed var(--tertiary-color);
}

.past {
  background-color: #d3d3d3;
  color: var(--primary-color);
}

.present {
  background-color: #ff6961;
  color: var(--primary-color);
}

.future {
  background-color: #77dd77;
  color: var(--primary-color);
}

.saveBtn {
  border-left: 1px solid var(--tertiary-color);;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--seconday-color);
  color: var(--primary-color);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}